<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static%}
    <link rel="stylesheet" href="{% static 'tv_shows_app/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>New Show</title>
</head>
<body>
    <div class="wrap">
        <div class="row">
            <h1 class="col">Add a New Show</h1>
            <a class="col-2" href="/shows">Go Back</a>
        </div>
        <form action='/shows/create' method='post'>
            {% csrf_token %}
            <label for="title">Title:</label>
            <input class="form-control" type="text" id="title" name="title">
            <label for="title">Network:</label>
            <input class="form-control" type="text" id="network" name="network">
            <label for="title">Release Date:</label>
            <input class="form-control" type="date" id="release_date" name="release_date">
            <label for="desc">Description:</label>
            <textarea class="form-control" rows="4" type="text" id="desc" name="desc"></textarea>
            <button type="submit" class="my-2 btn btn-secondary">Create</button>
        </form>
    </div>
</body>
</html>