<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <title>Login and Registration</title>
</head>
<body>
    <div class="wrap">
        <h1 class="mb-4">Login and Registration</h1>
        <hr>
        <div class="card-group">
            <div class="card border-0 mr-5">
                <div class="card-body">
                    <h4 class="card-title">Register Here!</h4>
                    <hr>
                    <form action='/register' method='post' id="reg_form">
                        <div class="form-group col">
                            <label for="first_name">First Name:</label>
                            {% with msg = get_flashed_messages(category_filter=["first_name"])[0] %}
                                <small class="text-danger mb-3 ml-1 row">{{msg}}</small>
                            {% endwith %}
                            {% with valid = get_flashed_messages(category_filter=["fn_valid"])[0] %}
                            {% with value = get_flashed_messages(category_filter=["fn_value"])[0] %}
                            <input class="form-control {{valid}}" value="{{value}}" type='text' id="first_name" name='first_name'>
                            {% endwith %}
                            {% endwith %}
                        </div>
                        <div class="form-group col">
                            <label for="last_name">Last Name:</label>
                            {% with msg = get_flashed_messages(category_filter=["last_name"])[0] %}
                            <small class="text-danger mb-3 ml-1 row">{{msg}}</small>
                            {% endwith %}
                            {% with valid = get_flashed_messages(category_filter=["ln_valid"])[0] %}
                            {% with value = get_flashed_messages(category_filter=["ln_value"])[0] %}
                            <input class="form-control {{valid}}" value="{{value}}" type='text' id="last_name" name='last_name'>
                            {% endwith %}
                            {% endwith %}
                        </div>
                        <div class="form-group col">
                            <label for="email">Email:</label>
                            <!----- partial placeholder div ----->
                            <div id="email_msg"></div> 
                            {% with msg = get_flashed_messages(category_filter=["email"])[0] %}
                            <small class="text-danger mb-3 ml-1 row">{{msg}}</small>
                            {% endwith %}
                            {% with valid = get_flashed_messages(category_filter=["em_valid"])[0] %}
                            {% with value = get_flashed_messages(category_filter=["em_value"])[0] %}
                            <input class="form-control {{valid}}" type='text' id="email" name='email'>
                            {% endwith %}
                            {% endwith %}
                        </div>
                        <div class="form-group col">
                            <label for="password">Password:</label>
                            {% with msg = get_flashed_messages(category_filter=["password"])[0] %}
                            <small class="text-danger mb-3 ml-1 row">{{msg}}</small>
                            {% endwith %}
                            {% with valid = get_flashed_messages(category_filter=["pw_valid"])[0] %}
                            <input class="form-control {{valid}}" type='text' id="password" name='password'>
                            {% endwith %}
                        </div>
                        <div class="form-group col">
                            <label for="confirm_password">Confirm Password:</label>
                            {% with msg = get_flashed_messages(category_filter=["confirm_password"])[0] %}
                            <small class="text-danger mb-3 ml-1 row">{{msg}}</small>
                            {% endwith %}
                            {% with valid = get_flashed_messages(category_filter=["cpw_valid"])[0] %}
                            <input class="form-control {{valid}}" type='text' id="confirm_password" name='confirm_password'>
                            {% endwith %}
                        </div>
                        <hr>
                        <div class="row d-flex mr-1 justify-content-end">
                            <button type="submit" class="form-group row btn btn-success">Register!</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card border-0 ml-5">
                <div class="card-body">
                    <h4 class="card-title">Login Here!</h4>
                    {% with msg = get_flashed_messages(category_filter=["login_main"])[0] %}
                    <small class="text-danger mb-3 ml-1 row">{{msg}}</small>
                    {% endwith %}
                    <hr>
                    <form action='/login' method='post'>
                        <div class="form-group col">
                            <label for="email">Email:</label>
                            {% with msg = get_flashed_messages(category_filter=["login_email"])[0] %}
                            <small class="text-danger mb-3 ml-1 row">{{msg}}</small>
                            {% endwith %}
                            {% with valid = get_flashed_messages(category_filter=["login_em_valid"])[0] %}
                            {% with value = get_flashed_messages(category_filter=["login_em_value"])[0] %}
                            <input class="form-control {{valid}}" value="{{value}}" type='text' id="email" name='email'>
                            {% endwith %}
                            {% endwith %}
                        </div>
                        <div class="form-group col">
                            <label for="password">Password:</label>
                            {% with msg = get_flashed_messages(category_filter=["login_password"])[0] %}
                            <small class="text-danger mb-3 ml-1 row">{{msg}}</small>
                            {% endwith %}
                            {% with valid = get_flashed_messages(category_filter=["login_pw_valid"])[0] %}
                            <input class="form-control {{valid}}" type='text' id="password" name='password'>
                            {% endwith %}
                        </div>
                        <hr>
                        <div class="row d-flex mr-1 justify-content-end">
                            <button type="submit" class="form-group row btn btn-success">Login!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>