
*{
    margin: 0px;
    padding: 0px;
    /* outline: 1px dotted red; */
}

.wrap {
    margin: 0 auto;
    width: 970px;
    padding: 40px;
    background-color: lightgray;
}

.wrap h1 {
    display: inline-block;
    vertical-align: top;
    font-size: 70px;
    border-bottom-style: solid;
}
