<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static%}
    <link rel="stylesheet" href="{% static 'dojo_reads_app/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Book Detail</title>
</head>
<body>
    <div class="wrap">
    <div class="row">
            <h1 class="col-5">Bukuzie's Books</h1>
            <div class="col d-flex mr-1 justify-content-end">
                <h3 class="mt-1 mr-4">Welcome, {{user.first_name}}!</h3>
                <a href="/books" class="btn btn btn-info mb-3">Home</a>
                <a href="/logout" class="btn btn btn-info ml-3 mb-3">Logout</a>
            </div>
        </div>
        <hr>
        <h1 class="d-inline">{{book.title}}</h1>
        <h5 class="ml-3 d-inline">by {{book.author}}</h5>
        <hr>
        <div class="card-group">
            <div class="card border-0 mr-5">
                <div class="card-body">
                    <h4 class="col mb-0 card-title">Reviews:</h4>
                    <hr>
                    <div class="scroll_box">
                        {% for review in book.reviews.all reversed %}
                            <div class="alert alert-info" role="alert">
                                <p class="text-body">Rating: 
                                    {% for x in range %}
                                        {% if x < review.rating %}
                                        <span class="fa fa-star checked"></span>
                                        {% else %}
                                        <span class="fa fa-star"></span>
                                        {% endif %}
                                    {% endfor %}  
                                </p>
                                <p class="text-body"><a  class="text-info" href="/users/{{review.add_by.id}}">{{review.add_by.first_name}}</a> says: "{{review.comment}}"</p>
                                <p class="text-body">Posted: {{review.created_at}}</p>
                                {% if user.id == review.add_by.id %}
                                    <div class="row d-flex justify-content-end">
                                        <a class="mr-1 btn btn-info" href="/books/delete_review/{{review.id}}">Delete Review</a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card border-0 mr-5">
                <div class="card-body">
                    <div class="row">
                        <h4 class="col mb-0 card-title">Add a Review:</h4>
                        {% for msg in messages %}
                            {% if 'comment' in msg.extra_tags %}
                                <small class="text-danger mt-2 col-4">{{msg}}</small>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <hr>
                    <form action='/books/{{book.id}}/process_review' method='post'>
                        {% csrf_token %}
                        <div class="alert alert-secondary" role="alert">
                            <div class="form-group row mx-1 my-2">
                                <textarea type="text" rows="3" class="form-control" name="comment"></textarea>
                            </div>
                            <div class="form-group row mt-3 mb-2">
                                <label class="col-2 pr-0" for="rating">Rating:</label>
                                <select class="col-2 form-control" id="rating" name="rating">
                                    <option value=1>1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                    <option value=5>5</option>
                                </select>
                                <div class="col-8 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-info">Submit Review</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>