<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='css/boxes.css') }}">
    <title>Blue Boxes</title>
    <style>
            .wrap div {
                background-color: {{back_color}};
            }
    </style>
</head>
<body>
    <div class='wrap'>
        <h1>Welcome!</h1>
        {% for i in range(num_times): %}
        <div></div>
        {% endfor %}
    </div>
</body>
</html>