/* * { outline: 1px dotted red; } */
*{
    margin: 0px;
    padding: 0px;
}

.wrap {
    margin: 0 auto;
    width: 970px;
    background-color: #245076;
    font-family: Arial, Helvetica, sans-serif;
}

.head {
    width: 970px;
}

    .logo {
        width: 350px;
        margin: 20px 0 20px 25px;
        vertical-align: top;
    }

    .text_size {
        color: white;
        margin-left: 120px;
    }

    .gold {
        color: #ffd42e;
    }

    .or {
        color: black;
    }

    .search_holder {
        margin: 10px 0 0 260px;
        font-size: 13px;
        display: inline-block;
    }   
        .search_bg {
            padding: 12px 40px;
            background-color: #444444;
            margin-top: 5px;
            margin-right: 10px;
            box-shadow: 2px 2px #262626;
            border-radius: 7px;
        }

            .search_input {
                height: 35px;
                width: 180px;
                border: 2px solid silver;
                border-style: outset;
                text-align: center;
            }

            .search_btn {
                margin-left: 5px;
                height: 30px;
                width: 35px;
                border: 2px solid silver;
                border-style: outset;
                background-color: #245076;
                color: white;
                box-shadow: 1px 1px #262626;
                border-radius: 4px;
            }

.nav {
    width: 850px;
    margin: 0 0 0 87px;
    background-image: linear-gradient(to bottom, #3575ad,#487fad,#3575ad);
    color: white;
    box-shadow: 2px 2px #262626;
    border-radius: 7px;
}

    .bar_opt {
        display:inline-block;
        margin: 10px 20px;
        font-size: 21px;
    }

.side_nav {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 20px 20px 0 100px;
    color:white;
}
    .side_list {
        list-style-type: none;
        display: inline-block;
        margin: 0;
    }
        .side_opt {
            margin-top: 11px;
        }

        .side_opt::before {
            content: "\00bb"; 
            color: #ffd42e;
            display: inline-block;
            vertical-align: top;
            width: 20px; 
            font-size: 12px;
        }

        a {
            color: inherit;
        }

.main {
    color: white;
    text-align: center;
    width: 630px;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 0 0;
}   
    .main_txt {
        font-size: 13.8px;
        padding: 0 12px;
        /* margin-top: 5px;
        margin-bottom: 6px; */
        margin: 20px 0 7px 0;
    }

    .zen {
        list-style-type: none;
        font-size: 19px;
        font-style: italic;
        margin-top: 0;
    }

        .zen_txt {
            margin-bottom: 11px;
        }

        .zen_foot {
            color: white;
            font-size: initial;
            margin-bottom: 23px;
        }

.btm_banner {
    text-align: center;
    background-color: white;
    height: 220px;
    padding: 0 0 0 50px;
}

    .sub_btm {
        text-align: center;
        display: inline-block;
        width: 380px;
        margin: 10px;
        vertical-align: top;
        border-top-style: solid;
        border-bottom-style: none;
        border-left-style: none;
        border-right-style: none;
        border-color:  #73a7d5;
        border-top-width: 3px;
        padding: 5px;
    }

        .banner_head {
            margin: 0;
            padding: 0 30px 0 0;
            font-weight:normal;
        }

        .pypl {
            color: #83b6e2;
            font-size: 11px;
        }

        .banner_txt {
            font-size: 13px;
            margin: 8px 0 0 0;
            padding: 0 80px 0 30px;
        }

        .btm_ls {
            display: inline-block;
            vertical-align: top;
            color: #83b6e2;
            margin: 1.5px 60px 0 0;
            font-size: 13px;
            padding: 0;
            list-style-type: none;
            width: 220px;
        }

        .bullets {
            display: inline-block;
            list-style-type: none;
            margin: 3px 8px 0 40px;
            padding: 0;
            list-style: square;
        }

            .blt {
                margin-top: 0;
            }

            .list_item {
                margin-top: 3px;
            }

.foot {
    color: #83b6e2;
    text-align: center;
    padding-bottom: 0.05px;
    background-image: linear-gradient(to bottom,  #245076, #3375ad);
}

    .foot_note {
        margin-top: 50px;
        margin-left: 80px;
    }

        .foot_opt {
            display: inline-block;
            margin: 0 40px 20px 0;
        }

        .cpyrt {
            font-size: 10px;
            margin-bottom: 8px;
        }